#bottomPanel {
  background-color: gray;
  border: 1px dotted;
  display: flex;
}

#runButton {
  background-color: lawngreen;
  align-self: center;
  border: 2px solid white;
  border-radius: 2vh;
  margin: 1vh;
  height: 10vh;
  width: 15vh;
  outline: none;
}
#runButton:hover {
  border: 1px solid red;
}

#rangeDiv {
  display: flex;
  align-items: center;
  width: 100%;
}

#range {
  background-color: black;
  border-radius: 10vh;
  height: 0.5vh;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 3vh;
  width: 3vh;
  border-radius: 2vh;
  background-color: blue;
}

#turtleImage,
#rabbitImage {
  width: 32px;
  height: 32px;
}

#hint-div {
  height: 25px;
  width: 25px;
  background-color: Blue;
  position: relative;
  right: 0;
  color: white;
  text-align: center;
  border-radius: 15px;
}
#hint-div:hover + #tutorial-div {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: lightblue;
  border-radius: 3%;
}
#tutorial-div {
  display: none;
}
