#bottomPanel {
  background-color: gray;
  border: 1px dotted;
  display: flex;
}

#runButton {
  background-color: lawngreen;
  align-self: center;
  border: 2px solid white;
  border-radius: 2vh;
  margin: 1vh;
  height: 10vh;
  width: 15vh;
  outline: none;
}
#runButton:hover {
  border: 1px solid red;
}

#rangeDiv {
  display: flex;
  align-items: center;
  width: 50vw;
}

#range {
  background-color: black;
  border-radius: 10vh;
  height: 0.5vh;
  width: 50vw;
  outline: none;
  -webkit-appearance: none;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 3vh;
  width: 3vh;
  border-radius: 2vh;
  background-color: blue;
}

#turtleImage,
#rabbitImage {
  width: 32px;
  height: 32px;
}
