#textEditor {
  background-color: white;
  border: 1px dotted;
  width: 100%;

  #ACE_EDITOR {
    width: 100% !important;
    height: 100% !important;

    .ace_content {
      height: 100% !important;
    }
  }
}
