* {
  box-sizing: border-box;
}
body {
  background-color: lightgray;
  padding: 1vh;
  height: 98vh;
}

main {
  display: flex;
  height: 100%;
}

.panels {
  background-color: gray;
  border: 1px solid;
  height: 96vh;
  margin: 1vh;
  display: flex;
}

#rightPanel {
  flex-basis: 0;
  flex-grow: 1;
  display: grid;
  width: 40%;
  grid-template-rows: 5fr 1fr;
}

@media only screen and (max-device-width: 600px) {
  * {
    box-sizing: border-box !important;
  }
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    main {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      #drawer-container {
        height: 100% !important;
        width: 100% !important;
      }
      #rightPanel {
        margin: 0;
        padding: 0;
        height: 100% !important;
        width: 100% !important;
        flex-basis: unset;
        flex-grow: 0;
      }
    }
  }
}
