body {
  background-color: lightgray;
  padding: 1vh;
  height: 98vh;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.panels {
  background-color: gray;
  border: 1px solid;
  height: 96vh;
  margin: 1vh;
  min-height: 300px;
  min-width: 300px;
  display: flex;
}

#rightPanel {
  display: grid;
  grid-template-rows: 5fr 1fr;
}
